{% load static %}

<header class="bg-gradient-to-r from-blue-500 to-green-500 text-white p-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/logo_trimmed-removebg.png' %}" alt="Logo" class="h-20 w-60 mr-3">
      </a>
      <!-- <span class="text-xl font-bold">Your Logo</span> -->
    </div>
    
    <!-- Navbar -->
    <nav class="flex space-x-6 ">
      <a href="{% url 'login' %}" class="hover:text-gray-300">Login</a>
      <a href="{% url 'chatrooms' %}" class="hover:text-gray-300">Chat Room</a>
      <a href="{% url 'newroom' %}" class="hover:text-gray-300">New room</a>
      <!-- executar funcion de salida y a home -->
      <a href="{% url 'login' %}" class="hover:text-gray-300">Log Out</a>
    </nav>
  </header>