{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    {% tailwind_css %}
</head>

<body class="">
    <div class="bg-chat-text bg-cover bg-center bg-no-repeat h-full w-full max-w-full">
        {% include 'navbar.html' %}
        <div class=" min-h-screen flex items-center justify-center">
            <div
                class=" bg-gradient-to-r from-violet-600 to-indigo-600/25 bg-opacity-30 backdrop-filter backdrop-blur-md p-8 my-6 rounded-lg shadow-lg lg:w-8/12 w-full ">

                <div class="flex justify-between items-center mb-2">
                    <h1 class="text-4xl font-bold text-white ">{{ room }}</h1>
                </div>
                <div class="flex ">
                    <div class="text-white bg-purple-500 py-1 px-3 rounded-l-lg focus:outline-none text-sm ">
                        Administrador</div>
                    <div class="text-purple-500 bg-white py-1 px-3 rounded-r-lg focus:outline-none text-sm">{{ user
                        }}</div>
                </div>
                <div class="my-6">
                    <label class="block text-white text-xl font-bold mb-2" for="name">chat</label>
                    <div
                        class="bg-chat-text border-white border-2 rounded min-h-[800px] py-2 px-3 text-gray-700  focus:outline-none focus:shadow-outline flex flex-col-reverse ">
                        <!-- send by me -->
                        <div class="flex flex-row justify-end my-2">
                            <div
                                class="w-5/12 h-fit bg-lime-500 text-right rounded-tr-lg rounded-tl-lg rounded-bl-lg p-3 ">
                                hola
                            </div>
                        </div>
                        <!-- send by me -->
                        <!-- send by others -->
                        <div class="flex flex-row flex-wrap justify-start ">
                            <div
                                class="w-8/12 h-auto my-2 text-wrap bg-lime-200 text-right rounded-tl-lg rounded-tr-lg rounded-br-lg  p-3 ">
                                hola muchachos asdfasdfasdfsadfa sdf sdfsdfsdfsdfasdd sadasdasdasdasdasa
                                sdasdafasd asdfasdasdasd asdfasdasdasd
                            </div>
                        </div>
                        <!-- send by others  -->
                    </div>
                </div>
                <div class="bg-white w-full h-14 border-2 border-green-700 rounded-lg">
                    <form method="post" action="/sendmessage/" class="w-full h-full flex ">
                        {% csrf_token %}
                        <!-- <div class="flex h-full w-full"> -->
                        <input type="text" name="message" class="bg-slate-700 text-white flex-grow"/>
                        <button class="bg-black" type="submit">
                            <div class="bg-black w-12">
                                <img class="p-3 mx-auto" src="{% static 'images/send.svg' %}" />
                                <!-- <input type="submit" value="" class="bg-slate-800 w-16 button-send" /> -->
                            </div>
                        </button>
                    </form>
                <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}


</body>

</html>